<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Office dashboard &mdash; GoSquared</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Palanquin:400,600,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>
  <body>
    <div id="root">

    </div>
    <script src="/static/bundle.js"></script>
  </body>
</html>