@import '../base.scss';

.dashboard {
    background-color: $dash-background;
    min-height: 100%;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 2rem 0;
}

@media only screen and (min-width: 768px) {
    .dashboard-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}